body {
  font-size: 14px; 
  font-family: "Catamaran", sans-serif; 
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.login-container {
  background-color: #fff;
  max-width: 360px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  margin-right: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}
.input-group textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical; 
  min-height: 150px; 
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #57626e;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #597592;
}
.ticketbuttons{
  padding: 20px;
}

.register-link {
  margin-top: 15px;
  text-align: center;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}


.registration-container {
  background-color: #fff;
  max-width: 360px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-container h2 {
  text-align: center;
  color: #333;
}


.response {
  color: red;
}


/* Header Styles */
.header {
  position: sticky;
  top: 0;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.profile-picture {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.profile {
  display: flex; 
  align-items: center; 
  position: relative;
}
.header .logo-container h1 {
  color: white;
}


/* Hide the logout link by default */
.dropdown-content{
  display: none;
}

/* Hide the logout link by default */
.logout-link {
  display: none;
  position: absolute; /* Position the logout link relative to the profile image */
  top: calc(100% + 5px); /* Position it below the profile image */
  left: 0;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
/* Display the logout link when the profile image is clicked */
.profile:hover .logout-link {
  display: block;
}

.logout-link a {
  color: white;
  text-decoration: none;
}

.logout-link a:hover {
  text-decoration: underline;
}
/* CSS for search bar */
.search-bar {
  display: flex;
  align-items: center; /* Center items vertically */
}

/* CSS for search input */
.search-bar input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 200px;
  margin-right: 5px;
}

/* CSS for search button */
.search-bar button {
  background-color: #6a7c8f; 
  color: white; 
  border: none; 
  padding: 2px 4px; 
  cursor: pointer; 
  border-radius: 5px;
  font-size: 12px; 
}

/* Hover effect */
.search-bar button:hover {
  background-color: #8aa6c3; 
}

/* Focus effect */
.search-bar button:focus {
  outline: none; 
  box-shadow: 0 0 0 2px #b9c6d4; 
}

/* Main Content Styles */
main {
  padding: 20px;
}

.top-area {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.bottom-area {
  display: flex;
  flex-wrap: wrap;
}
.comments {
  flex-basis: 70%; /* Take up 70% of the available space */
  margin-bottom: 20px; /* Add margin for spacing */
}
.comments2 {
  width: 100%;
  padding: 20px;
  order: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical; 
}

.comments textarea {
  width: calc(100% - 40px); /* Adjust the width as needed */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.attachments {
  flex-basis: 30%; /* Take up 30% of the available space */
}

.file-label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.file-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Form Styles */
.form-group {
  margin-bottom: 20px;
  flex-grow: 1;
}
.form-group:last-child{
  margin-right: 0;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-input,
.form-textarea,
.form-select,
.form-file {
  width: calc(50% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-textarea#description {
  width: calc(100% - 40px); 
}

.form-select {
  appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.form-select option {
  padding: 10px;
}

.form-file {
  margin-top: 10px;
}

.form-textarea {
  height: 100px;
}

/* Button Styles */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #68798b;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #646f7a;
}

/* Save Button Container */
.savebutton {
  position: relative;
  margin-top: 20px;
  margin-right: 20px; 
  float: right;
}

/* Textarea Styles */
textarea {
  resize: vertical;
  min-height: 150px;
}

.create-ticket-button {
  text-align: center;
  margin-top: 20px;
}

#create-ticket-btn {
  padding: 10px 20px;
  background-color: #687786;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#create-ticket-btn:hover {
  background-color: #667280;
}
.new-ticket {
  margin-left: 30px;
}

.new-ticket a {
  color: #fff; /* Icon color */
  font-size: 30px; /* Adjust icon size */
  text-decoration: none;
}

.new-ticket a:hover {
  color: #ccc; /* Icon color on hover */
}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 600;
  font-style: normal;
}
h1 {
  font-family: "Satisfy", cursive;
  font-weight: 600;
  font-style: normal;
}
h2 {
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding: 20px;
}
.ticket-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.ticket-item div {
  margin-bottom: 5px;
}

.ticket-item a {
  display: block;
  text-decoration: none;
  color: #007bff;
}

.ticket-item a:hover {
  text-decoration: underline;
}
#ticketList {
  list-style-type: none;
}

#ticketList li {
  font-family: "Catamaran", sans-serif;
  line-height: 1;
}

#ticketList li a {
  text-decoration: none; /* Remove default underline from links */
  line-height: 0.6;
}
.comment-list,
.attachment-list {
    list-style: none;
    padding: 0;
}

.comment-box,
.attachment-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.comment-box p,
.attachment-box p {
    margin: 0;
}


.file-upload {
    display: block;
    margin-bottom: 10px;
}
.comments p {
  font-size: 14px; 
  font-family: "Catamaran", sans-serif; 
  line-height: 0.8;

}


/* Responsive Styles */
@media screen and (max-width: 768px) {
  .search-bar input {
    width: 150px;
  }
}